<div class="oc-content">
  <div class="oc-display oc-display__large">Display large</div>
  <hr>
  <div class="oc-display oc-display__medium">Display medium</div>
  <hr>
  <div class="oc-display oc-display__small">Display small</div>
  <hr>
  <div class="oc-display oc-display__extra-small">Display extra-small</div>
  <hr>
  <h1>Header One</h1>
  <hr>
  <h2>Header Two</h2>
  <hr>
  <h3>Header Three</h3>
  <hr>
  <h4>Header Four</h4>
  <hr>
  <h5>Header Five</h5>
  <hr>
  <h6>Header Six</h6>
  <hr>
  <div class="oc-subtitle oc-subtitle__large">Subtitle large</div>
  <hr>
  <div class="oc-subtitle oc-subtitle__medium">Subtitle medium</div>
  <hr>
  <div class="oc-pre-display">Pre-Display</div>
  <hr>
  <div>
    <img src="../../images/Octuple-Logo.svg" />
  </div>
  <div class="oc-caption">This is a caption</div>
  <hr>
  <div class="oc-content__large">
    <label>Label</label>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <ul>
      <li>Unordered list item one</li>
      <li>Unordered list item two</li>
      <li>Unordered list item three</li>
    </ul>
    <ol>
      <li>Ordered list item one</li>
      <li>Ordered list item two</li>
      <li>Ordered list item three</li>
    </ol>
    <dl>
        <dt>Beast of Bodmin</dt>
        <dd>A large feline inhabiting Bodmin Moor.</dd>

        <dt>Morgawr</dt>
        <dd>A sea serpent.</dd>

        <dt>Owlman</dt>
        <dd>A giant owl-like creature.</dd>
    </dl>
    <a href="#" class="oc-link oc-link__primary">A link</a>
  </div>
  <hr>
  <div class="oc-content__medium">
    <label>Label</label>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <ul>
      <li>Unordered list item one</li>
      <li>Unordered list item two</li>
      <li>Unordered list item three</li>
    </ul>
    <ol>
      <li>Ordered list item one</li>
      <li>Ordered list item two</li>
      <li>Ordered list item three</li>
    </ol>
    <dl>
        <dt>Beast of Bodmin</dt>
        <dd>A large feline inhabiting Bodmin Moor.</dd>

        <dt>Morgawr</dt>
        <dd>A sea serpent.</dd>

        <dt>Owlman</dt>
        <dd>A giant owl-like creature.</dd>
    </dl>
    <a href="#" class="oc-link oc-link__primary">A link</a>
  </div>
  <hr>
  <div class="oc-content__small">
    <label>Label</label>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <ul>
      <li>Unordered list item one</li>
      <li>Unordered list item two</li>
      <li>Unordered list item three</li>
    </ul>
    <ol>
      <li>Ordered list item one</li>
      <li>Ordered list item two</li>
      <li>Ordered list item three</li>
    </ol>
    <dl>
        <dt>Beast of Bodmin</dt>
        <dd>A large feline inhabiting Bodmin Moor.</dd>

        <dt>Morgawr</dt>
        <dd>A sea serpent.</dd>

        <dt>Owlman</dt>
        <dd>A giant owl-like creature.</dd>
    </dl>
    <a href="#" class="oc-link oc-link__primary">A link</a>
  </div>
</div>
